In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
dataset = pd.read_csv('C:/Users/RVALENZUELA/Desktop/RVC 2020/RENE/X/MK Digital/LETS UP GRADE/Datasets/IrisDataset.csv')

In [34]:
X = dataset.iloc[:,:4].values
y = dataset['species'].values

In [14]:
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [41]:
from sklearn.preprocessing import StandardScaler

In [42]:
sc = StandardScaler()

In [43]:
X_train = sc.fit_transform(X_train)

In [44]:
X_test = sc.transform(X_test)

In [45]:
from sklearn.naive_bayes import GaussianNB

In [46]:
classifier = GaussianNB()

In [47]:
classifier.fit(X_train, y_train)

GaussianNB()

In [48]:
y_pred = classifier.predict(X_test)
y_pred

array(['virginica', 'versicolor', 'setosa', 'virginica', 'setosa',
       'virginica', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'setosa'], dtype='<U10')

In [49]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  1,  5]], dtype=int64)

In [50]:
from sklearn.metrics import accuracy_score
print('Accuracy: ', accuracy_score(y_test, y_pred))

Accuracy:  0.9666666666666667

In [52]:
from sklearn.metrics import classification_report
print('The Classification Report is as follows...\n')
print(classification_report(y_test, y_pred))

The Classification Report is as follows...

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        11
  versicolor       0.93      1.00      0.96        13
   virginica       1.00      0.83      0.91         6

    accuracy                           0.97        30
   macro avg       0.98      0.94      0.96        30
weighted avg       0.97      0.97      0.97        30

In [56]:
df = pd.DataFrame({'Real Values':y_test.reshape(-1), 'Predicted Values':y_pred.reshape(-1)})
df

   Real Values Predicted Values
0    virginica        virginica
1   versicolor       versicolor
2       setosa           setosa
3    virginica        virginica
4       setosa           setosa
5    virginica        virginica
6       setosa           setosa
7   versicolor       versicolor
8   versicolor       versicolor
9   versicolor       versicolor
10   virginica       versicolor
11  versicolor       versicolor
12  versicolor       versicolor
13  versicolor       versicolor
14  versicolor       versicolor
15      setosa           setosa
16  versicolor       versicolor
17  versicolor       versicolor
18      setosa           setosa
19      setosa           setosa
20   virginica        virginica
21  versicolor       versicolor
22      setosa           setosa
23      setosa           setosa
24   virginica        virginica
25      setosa           setosa
26      setosa           setosa
27  versicolor       versicolor
28  versicolor       versicolor
29      setosa           setosa

In [ ]:
# In line 10, the prediction was wrong.